<div class="card card-inverse" [style.backgroundColor]="color">
	<div class="card-block">

		<div class="btn-group float-right edit-padding hidden-sm-down" dropdown>
			<button type="button"
					class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
				<i class="icon-settings "></i>
			</button>
			<div class="dropdown-menu dropdown-menu-right" dropdownMenu>
				<a class="dropdown-item" href="#graphBig" (click)="show('forecasting')">Forecasting</a>
				<a class="dropdown-item" href="#graphBig" (click)="show('market')">Market Value</a>
			</div>
		</div>

		<div class="h5 float-left text-capitalize mb-0">
			{{value}}<div class="small">1 year</div>
			<!--<label></label>
			<div class="btn-group float-right" dropdown>
				<button type="button"
						class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
					<i class="fa fa-cog" aria-hidden="true"></i>
				</button>
				<div class="dropdown-menu dropdown-menu-right" dropdownMenu>
					<a class="dropdown-item" href="#graphBig" (click)="show('forecasting')">Forecasting</a>
					<a class="dropdown-item" href="#graphBig" (click)="show('market')">Market Value</a>
				</div>
			</div>-->
		</div>

		<div class="h5 float-right mb-0">
			<i class="line-chart"></i>
			{{percentage}}%
		</div>

	</div>
	 <div  class="chart-wrapper px-1" style="height:100px">
					<canvas baseChart class="chart" [datasets]="financialData.lineChartData"
						[labels]="financialData.lineChartLabels" [options]="financialData.lineChartOptions"
						[colors]="financialData.lineChartColours" [legend]="financialData.lineChartLegend"
						[chartType]="financialData.lineChartType" (chartHover)="chartHovered($event)"
						></canvas>
	 </div>
	<div class="card-block" *ngIf="isCustom">
		<p-slider [(ngModel)]="percentage" [min]="0" [max]="100"
		(onSlideEnd)="handleSlide($event)" (click)="handleSlide($event)"
		(updatePercentage)="handleUpdatePercentage($event)"
		></p-slider>
	</div>
</div>
