<div class="card card-inverse" [style.backgroundColor]="color">
	<div class="card-block">
		<div class="h5 float-left text-capitalize mb-0">
			{{value}}
		</div>
		<div class="h5 float-right mb-0">
			{{percentage}}%
		</div>
	</div>
	<!-- <div class="chart-wrapper px-1" style="height:70px">
					<canvas baseChart class="chart" [data]="lineChartData"
						[labels]="lineChartLabels" [options]="lineChartOptions"
						[colors]="lineChartColours" [legend]="lineChartLegend"
						[chartType]="lineChartType" (chartHover)="chartHovered($event)"
						(chartClick)="chartClicked($event)"></canvas>
				</div> -->
	<div class="card-block" *ngIf="isCustom">
		<p-slider [(ngModel)]="percentage" [min]="0" [max]="100" (onSlideEnd)="handleSlide($event)" (click)="handleSlide($event)"></p-slider>
	</div>
</div>
