<div class="animated fadeIn">

	<app-strategy-selector></app-strategy-selector>

	<!-- ASSET CLASS ROW -->
	<div class="row">

		<div class="col-sm-6 col-lg-3" *ngFor="let assetClass of assetClasses">
			<app-card-asset-class [value]="assetClass.name"
				[percent]="assetClass.percentage + '%'"
				[lineChartData]="assetClass.data"
				[lineChartLabels]="lineChartLabels"
				[lineChartOptions]="lineChartOptions"
				[lineChartColours]="lineChartColours"
				[lineChartType]="lineChartType"
				(click)="showAsset('assetClass1', assetClass1Colour)">
			</app-card-asset-class>
		</div>

	</div>


	<!-- ASSET CLASS 1 ROW -->
	<div class="row">

		<!-- ASSET 1 -->
		<div class="col-sm-6 col-lg-3" *ngFor="let asset of assetClass1">
			<app-card-asset 
				[lineChartData]="asset.data"
				[lineChartLabels]="lineChartLabels"
				[lineChartOptions]="lineChartOptions"
				[lineChartColours]="lineChartColours"
				[lineChartType]="lineChartType" [barChartData]="barChart1Data"
				[barChartLabels]="barChart1Labels"
				[barChartOptions]="barChart1Options"
				[barChartColours]="barChart1Colours"
				[barChartLegend]="barChart1Legend" [barChartType]="barChart1Type"></app-card-asset>
		</div>
	</div>
	<!-- END ASSET CLASS 1-->
</div>
