<div class="card">
  <div class="card-header">
    <div class="form-group">
      <i class="fa fa-align-justify"></i>
      <label for="dateP">Portfolio create with EoD prices of</label>
      <input type="date" class="form-control" id="dateP">
    </div>
  </div>
  <div class="card-block">
    <table class="table table-bordered table-striped table-condensed">
      <thead>
      <tr>
        <th>Asset class</th>
        <th>Amount</th>
        <th>Allocation per asset</th>
        <th>Amount</th>
        <th>Units</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>BONDS</td>
        <td>$9.500</td>
        <td>
          <tr class="line_indented">
            <td class="col-12 line_indented">80% in CME_US1 </td>
          </tr>
          <tr class="line_indented">
            <td class="col-12 line_indented">20% in CME_UL2 </td>
          </tr>
        </td>
      <td>
        <tr class="line_indented">
          <td class="col-12 line_indented">$7.600</td>
        </tr>
        <tr class="line_indented">
          <td class="col-12 line_indented">$1.900</td>
        </tr>
      </td>
        <td>
          <tr class="line_indented">
            <td class="col-12 line_indented">50.2579</td>
          </tr>
          <tr class="line_indented">
            <td class="col-12 line_indented">11.8174</td>
          </tr>
        </td>
      </tr>
      <tr>
        <td>5% in Commodities</td>
        <td>$500</td>
        <td>
        <tr class="line_indented">
          <td class="col-12 line_indented">30% in GOLD </td>
        </tr>
        <tr class="line_indented">
          <td class="col-12 line_indented">20% in SILVER </td>
        </tr>
        <tr class="line_indented">
          <td class="col-12 line_indented">20% in OIL_BRENT </td>
        </tr>
        <tr class="line_indented">
          <td class="col-12 line_indented">20% in WLD_RICE_05 </td>
        </tr>
      </td>
      <td>
        <tr class="line_indented">
        <td class="col-12 line_indented">$150</td>
      </tr>
        <tr class="line_indented">
          <td class="col-12 line_indented">$100</td>
        </tr>
        <tr class="line_indented">
          <td class="col-12 line_indented">$150</td>
        </tr>
        <tr class="line_indented">
          <td class="col-12 line_indented">$100</td>
        </tr>
      </td>
      <td>
        <tr class="line_indented">
          <td class="col-12 line_indented">0.1258</td>
        </tr>
        <tr class="line_indented">
          <td class="col-12 line_indented">5.9172</td>
        </tr>
        <tr class="line_indented">
          <td class="col-12 line_indented">2.6436</td>
        </tr>
        <tr class="line_indented">
          <td class="col-12 line_indented">0.2653</td>
        </tr>
      </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>