<div class="card btn-strategy">
  <div class="card-block text-center">
    <div class="text-uppercase font-weight-bold">{{strategy.name}}</div>
    <div class="chart-wrapper ">
      <canvas baseChart class="chart" [data]="strategy.data"
              [labels]="strategy.labels" [options]="strategyOptions"
              [colors]="strategy.colours" [legend]="strategyLegend"
              [chartType]="strategyType" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>

  </div>
</div>