<div class="animated fadeIn">

	<!-- STRATEGIES ROW -->
	<div class="row">
		<div class="col-md-2 col-sm-4"
			*ngFor="let strategy of strategies; let i = index">
			<app-strategy-selector [name]="strategy.name" [data]="strategy.data"
				[selected] = "selected[i]"
				[labels]="strategy.labels" [colors]="strategy.colours"
				[id]="strategy.id" (click)="setStrategy(i)"></app-strategy-selector>
		</div>
	</div>


	<!-- ASSET CLASS ROW -->
	<div class="row" >
		<div class="col-sm-6 col-lg-3"
			*ngFor="let assetClass of assetClasses; let i = index;">
			<app-card-asset-class [value]="assetClass.name" [isCustom]="isCustom"
				[id]="assetClass.id" [percentage]="assetClass.percentage" [lineChartData]="assetClass.data"
				[lineChartLabels]="lineChartLabels"
				[lineChartOptions]="lineChartOptions"
				[lineChartColours]="lineChartColours"
				[lineChartType]="lineChartType">
			</app-card-asset-class>
		</div>

		<div class="col-md-12 text-center" *ngIf="isCustom">
			<button type="button" class="btn btn-danger"
				(click)="isCustom = false">Cancel</button>
			<button type="button" class="btn btn-success"
				(click)="confirmStrategy()">Create</button>
		</div>
	</div>


</div>

