<div class="card">
<button class="btn btn-strategy" [ngClass]="{active : selected}"
	(click)="selected = !selected">
	<div class="card-block text-center">
		<div class="text-uppercase font-weight-bold">{{name}}</div>
		<div class="chart-wrapper">
			<canvas baseChart class="chart" [data]="data" [labels]="labels"
				[options]="strategyOptions" [colors]="colors"
				[legend]="strategyLegend" [chartType]="strategyType"
				(chartHover)="chartHovered($event)"></canvas>
		</div>
	</div>
</button>
</div>
