<div class="animated fadeIn">
    <div class="col-12">
        <p-progressBar [value]="sum"></p-progressBar>
            <div class="row">

                <div class="col-3" *ngFor="let assetclass of assetclasses; let i = index">
                    <div class="text-capitalize">{{assetclass.name}}</div>
                    <input type="number" [(ngModel)]="selected[i]" class="form-control" (ngModelChange)="updateSum()">
                </div>
            </div>
            <button (click)="createGraph()" class="btn btn-primary px-2" [disabled]="!start">Try!</button>

        <app-portfolio-graph #backtestingGraph [data]="data" [render]="render"></app-portfolio-graph>

    </div>

</div>