<div class="animated fadeIn">
    <div class="col-12">
        <bs-progress [max]="max">
            <bar *ngFor="let percentage of selected" [value]="percentage" [type]="'success'">
                <span *ngIf="percentage > 0">{{percentage}}%</span>
            </bar>
        </bs-progress>
        <div class="row">
            <div class="col-3" *ngFor="let assetclass of assetclasses; let i = index">
                <div class="text-capitalize">{{assetclass.name}}</div>
                <input [(ngModel)]="selected[i]" class="form-control">
            </div>
        </div>
        <app-strategy-classes-graph [data]="data" [render]="render"></app-strategy-classes-graph>

    </div>

</div>