<div class="animated fadeIn">

    <div class="card card-inverse card-primary">
        <div class="card-block text-center">
            <div class="h5 font-weight-bold">Insert percentages of a strategy to see how it would have worked</div>
        </div>
    </div>

    <div class="row">

        <div class="col col-6 col-sm-6 col-md-6 col-lg-3 pad1 " *ngFor="let assetclass of assetclasses; let i = index">
            <div class="card" [ngClass]="{'card-primary card-inverse' : selected[i]}">
                <div class="card-block text-center pad8">
                    <div class="text-capitalize font-weight-bold">{{assetclass.name}} {{percentage[i]}}%</div>
                    <input type="number" [(ngModel)]="selected[i]" class="form-control txtstyle"
                           (ngModelChange)="updateSum()">
                </div>
            </div>
        </div>
    </div>

    <p-progressBar [value]="sum" [style.width]="50"></p-progressBar>

    <app-portfolio-graph #backtestingGraph [data]="data" [render]="render"></app-portfolio-graph>


</div>