@media only screen and (max-device-width: 480px) {
  .pad1{
    padding: 1px !important;
  }
  .pad4{
    padding: 4px !important;
  }
  .pad8{
    padding: 8px !important;
  }
  .txtstyle{
    font-size: xx-large;
    text-align: -webkit-center;
    width: 100%;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

}
