<div class="card">
	<div class="card-block">
		<div class="row">
			<div class="col-sm-5">
				<h4 class="card-title mb-0">Asset Classes</h4>
				<div class="small text-muted">Last 30 Days</div>
			</div>
			<!--/.col-->
		</div>

		 
                <div *ngIf="render" class="chart-wrapper">
                    <canvas baseChart class="chart" [datasets]="lineChartData" [labels]="lineChartLabels"
                            [options]="lineChartOptions" [colors]="lineChartColours" [legend]="lineChartLegend"
                            [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
                <div class="card-block p-0 clearfix" *ngIf="!render">
                <div class="h3 text-primary mb-0 pt-1">{{response}}</div>
                </div>
               
           
	</div>
	<div class="card-footer">
		<ul>
			<li *ngFor="let i of dataset">
				<div class="text-uppercase font-weight-bold">{{i.label}}</div>
				<strong>${{i.value}}</strong> 
				<hr>
				<p>{{i.percentage}}%</p>
				<div class="progress progress-xs mt-h">
					<div class="progress-bar bg-success" role="progressbar"
						[style.width.%]="i.percentage" aria-valuenow="40" aria-valuemin="0"
						aria-valuemax="100"></div>
				</div>
			</li>
		</ul>
	</div>
</div>
