// CUSTOM SCSS

// Validity check
.ng-valid[required], .ng-valid.required  {
  border-right: 5px solid $brand-success; /* green */
}
.ng-invalid:not(form)  {
  border-right: 5px solid $brand-danger; /* red */
}

// Strategy Card
.btn-strategy {
  width: 100%;
  color: $general;
  background-color: #fff;
  margin-bottom: auto;

    &:hover,
    &.hover {
        color: #fff;
        background-color: rgba($general,0.5) ;
    }

    &:active,
    &.active {
        color: #fff;
        background-color: $general;
    }

    &:disabled,
    &.disabled {
        opacity: .5;
    }
}

.ui-slider-horizontal {
  height: 0.3em !important;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -6px !important;
}


.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 17px !important;
  cursor: default;
  outline: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
  left: 0%;
  background-color: #263238;
  border-radius: 35%;
  height: 17px !important;
  background-image: none !important;
}
.ui-slider {
  background-color: white;
}
.contentSugg{
  margin-left: 15%;
  margin-right: 15%;
}
.backgroundImg{
  background-image: url("../img/backModal.jpg");
}